demo-workspace/pipeline/API_PIP_0101_Dataflow.json
{
	"name": "API_PIP_0101_Dataflow",
	"properties": {
		"description": "API Analytics Demo\nAzure Synapse Analytics Demo\nhttps://github.com/aessing/demo-azuresynapse\n\nDeveloper\nAndre Essing\n(https://www.andre-essing.de/\n(https://github.com/aessing\n(https://twitter.com/aessing\n(https://www.linkedin.com/in/aessing/)\n\nTHIS CODE AND INFORMATION ARE PROVIDED \"AS IS\" WITHOUT WARRANTY OF ANY KIND,\nEITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED\nWARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.",
		"activities": [
			{
				"name": "Download-Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Delete-Downloaded-Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "API_IDS_Datalake_Folder_Binary",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@variables('StorageFolderSource')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "API_IDS_Datalake_Folder_Binary",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@variables('StorageFolderDownloaded')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Delete-Downloaded-Data",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "API_IDS_Datalake_Folder_Binary",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@variables('StorageFolderDownloaded')",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.7z",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Delete-Extracted-Data",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "API_IDS_Datalake_Folder_Binary",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@variables('StorageFolderExtracted')",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.txt",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Delete-Raw-Data",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "API_IDS_Datalake_Folder_Binary",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@variables('StorageFolderRAW')",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.csv",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Transform-Extracted-Data",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "For-Each-Extracted-File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "API_FLW_0101_TransformData",
						"type": "DataFlowReference"
					},
					"staging": {
						"folderPath": "apianalytics/temp/staging"
					},
					"compute": {
						"coreCount": 32,
						"computeType": "MemoryOptimized"
					},
					"traceLevel": "Fine",
					"runConcurrently": true
				}
			},
			{
				"name": "Get-File-Information",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Delete-Raw-Data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Extract-Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "API_IDS_Datalake_Folder_Binary",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@variables('StorageFolderExtracted')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "For-Each-Extracted-File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get-File-Information",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get-File-Information').output.childItems",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Copy-Extracted-Data-to-Raw",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "API_IDS_Datalake_File_Binary",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@variables('StorageFolderExtracted')",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "API_IDS_Datalake_File_Binary",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@variables('StorageFolderRAW')",
											"type": "Expression"
										},
										"filename": {
											"value": "@replace(item().name, '.txt','.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Extract-Data",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Delete-Extracted-Data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Download-Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "API_NBK_0101_Extract7Z",
						"type": "NotebookReference"
					},
					"parameters": {
						"inputFile": {
							"value": "/temp/downloaded/APIAnaltics.7z",
							"type": "string"
						},
						"targetDir": {
							"value": "/temp/extracted",
							"type": "string"
						},
						"linkedService": {
							"value": "demosynapsesws01-WorkspaceDefaultStorage",
							"type": "string"
						},
						"container": {
							"value": "abfss://apianalytics@demosynapsedls01.dfs.core.windows.net",
							"type": "string"
						}
					},
					"snapshot": true
				}
			}
		],
		"variables": {
			"StorageFolderDownloaded": {
				"type": "String",
				"defaultValue": "/apianalytics/temp/downloaded"
			},
			"StorageFolderExtracted": {
				"type": "String",
				"defaultValue": "/apianalytics/temp/extracted"
			},
			"StorageFolderRAW": {
				"type": "String",
				"defaultValue": "/apianalytics/raw"
			},
			"StorageFolderSource": {
				"type": "String",
				"defaultValue": "/apianalytics/_source"
			}
		},
		"folder": {
			"name": "API Analytics/01 Data Engineer"
		},
		"annotations": []
	}
}