demo-workspace/pipeline/NYC_PIP_01_DownloadData.json
{
	"name": "NYC_PIP_01_DownloadData",
	"properties": {
		"activities": [
			{
				"name": "GetTripDataUrls",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "NYC_NBK_01_getTripDataURLs",
						"type": "NotebookReference"
					}
				}
			},
			{
				"name": "ImportUrls",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "GetTripDataUrls",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetZoneDataUrls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "NYC_FLW_01_ImportDownloadURLs",
						"type": "DataFlowReference"
					},
					"staging": {
						"linkedService": {
							"referenceName": "Main_DataLake_001",
							"type": "LinkedServiceReference"
						},
						"folderPath": "nyctaxi/staging"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "GetZoneDataUrls",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "NYC_NBK_02_getZoneDataURLs",
						"type": "NotebookReference"
					}
				}
			},
			{
				"name": "GetFilesToDownload",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ImportUrls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT [url]\n      ,[filename]\n      ,[filepath]\n      ,[downloaded]\n  FROM [config].[dataDownload]\n WHERE [downloaded] = 0;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "NYC_IDS_CFG_configDataDownload",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "DownloadRawData",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFilesToDownload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFilesToDownload').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "DownloadFile",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"maxConcurrentConnections": 1,
										"requestMethod": "GET",
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false,
								"parallelCopies": 1,
								"dataIntegrationUnits": 2
							},
							"inputs": [
								{
									"referenceName": "NYC_IDS_SRC_DataDownload",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "NYC_IDS_SNK_DataDownload_RAW",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "MarkFileAsDownloaded",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "DownloadFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "@concat('UPDATE [config].[dataDownload] SET [Downloaded] = 1 WHERE [URL] = N''',item().url,''';','SELECT [Downloaded] FROM [config].[dataDownload] WHERE [Downloaded] = 1 AND [URL] = N''',item().url,''';')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "NYC_IDS_CFG_configDataDownload",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "NYC Taxi"
		},
		"annotations": []
	}
}