demo-workspace/pipeline/NYC_PIP_0101_DownloadData.json
{
	"name": "NYC_PIP_0101_DownloadData",
	"properties": {
		"description": "API Analytics Demo\nAzure Synapse Analytics Demo\nhttps://github.com/aessing/demo-azuresynapse\n\nDeveloper\nAndre Essing\n(https://www.andre-essing.de/\n(https://github.com/aessing\n(https://twitter.com/aessing\n(https://www.linkedin.com/in/aessing/)\n\nTHIS CODE AND INFORMATION ARE PROVIDED \"AS IS\" WITHOUT WARRANTY OF ANY KIND,\nEITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED\nWARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.",
		"activities": [
			{
				"name": "GetTripDataUrls",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "NYC_NBK_0101_getTripDataURLs",
						"type": "NotebookReference"
					},
					"sparkPool": {
						"referenceName": "DemoSparkPool",
						"type": "BigDataPoolReference"
					}
				}
			},
			{
				"name": "ImportUrls",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "GetTripDataUrls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "NYC_FLW_01_ImportDownloadURLs",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SynapseConfigTable": {
								"dbname": {
									"value": "@variables('DatabaseName')",
									"type": "Expression"
								}
							}
						}
					},
					"staging": {
						"linkedService": {
							"referenceName": "Main_DataLake_001",
							"type": "LinkedServiceReference"
						},
						"folderPath": "nyctaxi/staging"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "GetFilesToDownload",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ImportUrls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT [url]\n      ,[filename]\n      ,[filepath]\n      ,[downloaded]\n  FROM [nyc].[configDataDownload]\n WHERE [downloaded] = 0;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "NYC_IDS_SQLPool_configDataDownload",
						"type": "DatasetReference",
						"parameters": {
							"dbname": {
								"value": "@variables('DatabaseName')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "DownloadRawData",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFilesToDownload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFilesToDownload').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "DownloadFile",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"maxConcurrentConnections": 1,
										"requestMethod": "GET",
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false,
								"parallelCopies": 4
							},
							"inputs": [
								{
									"referenceName": "NYC_IDS_Web_DataDownload",
									"type": "DatasetReference",
									"parameters": {
										"url": {
											"value": "@item().url",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "NYC_IDS_Datalake_DataDownload",
									"type": "DatasetReference",
									"parameters": {
										"filepath": {
											"value": "@item().filepath",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().filename",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "UpdateDownloadStatus",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "DownloadFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "synw-aes-dwh-tmp-001-WorkspaceDefaultSqlServer",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": {
										"value": "@variables('DatabaseName')",
										"type": "Expression"
									}
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "@concat('UPDATE [nyc].[configDataDownload] SET [Downloaded] = 1 WHERE [URL] = N''',item().url,''';')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"DatabaseName": {
				"type": "String",
				"defaultValue": "DemoSqlPool"
			}
		},
		"folder": {
			"name": "NYC Taxi/01 Setup"
		},
		"annotations": []
	}
}