demosynapsesws01/pipeline/ESE_PIP_02_DataFlow.json
{
	"name": "ESE_PIP_02_DataFlow",
	"properties": {
		"activities": [
			{
				"name": "Load Facts",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "ESE_FLW_01_ETL",
						"type": "DataFlowReference"
					},
					"staging": {
						"linkedService": {
							"referenceName": "demosynapsesws01-WorkspaceDefaultStorage",
							"type": "LinkedServiceReference"
						},
						"folderPath": "europesoccer/staging"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Get Dimension Table Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT\n    [SourceSystem]\n   ,[SourceFolder]\n   ,[SourceFileName]\n   ,[SourceFileExtension]\n   ,[DestinationSchema]\n   ,[DestinationTable]\n   ,[IsActive]\n  FROM\n    [config].[etlConfiguration_DataFlow]\nWHERE\n    [IsActive] = 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ESE_IDS_CFG_DimensionConfigurationFLW_CORE_SQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Load Dimensions Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Dimension Table Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Dimension Table Config').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Load dimension to SQL Pool",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat(item().SourceSystem, '/', item().SourceFolder)",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@concat(item().SourceFileName, '.', item().SourceFileExtension)",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"tableOption": "autoCreate"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ESE_IDS_SRC_DimensionsFLW_DYN_CSV",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ESE_IDS_SNK_DimensionsFLW_CORE_SQL",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Europe Soccer Events"
		},
		"annotations": []
	}
}